.App {
  font-size: calc(3px + 2.5vmin);
  padding-top: 0vmin;
  padding-left: 10vmin;
  padding-right: 10vmin;
  padding-bottom: 20vmin;
  line-height: 180%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(10px + 3vmin);
  color: rgb(85, 85, 85);
  padding-top: 10vmin;
  padding-left: 10vmin;
  padding-right:10vmin;
  padding-bottom: 0vmin;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

/* Link styling */

.Socials {
  color: rgb(85, 85, 85);
}

.Socials:hover {
  color: rgb(255, 74, 74);
}

.Projects {
  color: rgb(73, 137, 255);
}

.Projects:hover {
  color: rgb(255, 74, 74);
}

ul {
  padding-left: 2.3vmin;
}

/* Navigation bar links styling */
nav a {
  padding-right: 1.5vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
